{% extends 'base.html' %}
{% block title %}Blogly{% endblock %}
{% block content %}
    <h2 class="display-2">Recent Posts:</h2>
    <ul class="list-group">
    {% for post in posts %}
        <li>
        <a href="/users/{{post.user_id}}/post-{{post.id}}" class="display-6 list-group-item list-group-item-action bg-dark text-white border-0">{{post.title}}</a>
        </li>
        <small class="ms-4">
            By: {{post.user.first_name}} {{post.user.last_name}}<br>
            Created: {{post.friendly_time}}
        </small>
    {% endfor%}
    </ul>
{% endblock %}