{% extends 'base.html' %}
{% block title %}Add User{% endblock %}
{% block content %}
    <h1 class="display-1">Add User</h1>
    <div class="container-fluid ms-2 me-2">
        <form action="/users/new" method="POST">
            <div class="col-12">
                <input class="display-6 mb-2" type="text" name="first-name" placeholder="first name" maxlength="20" style="width: 97%;" required>
            </div>
            <div class="col-12">
                <input class="display-6 mb-2" type="text" name="last-name" placeholder="last name" maxlength="20" style="width: 97%;" required>
            </div>
            <div class="col-12">
                <input class="display-6 mb-2" type="text" name="image-url" placeholder="image url" maxlength="500" style="width: 97%;">
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success py-2">Submit</button>
            </div>
        </form>
        <button onclick="window.location.href='/users';" class="btn btn-outline-primary mt-2">Cancel</button>
    </div>
{% endblock %}