{% extends 'base.html' %}
{% block title %}Add Tag{% endblock %}
{% block content %}
    <h1 class="display-1">Add Tag</h1>
    <div class="container-fluid">
        <form action="/tags/add" method="POST">
            <input class="display-6" type="text" name="tag" minlength="3" style="width: 33%;">
            <ul class="list-group">
                {% for post in posts %}
                <li class="list-group-item list-group-item-action bg-dark text-white border-0">
                    <input type="checkbox" name="posts" value="{{post.id}}" id="post_{{post_id}}">
                    <label class="display-6" for="post_{{post.id}}">{{post.title}}</label>
                </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-outline-success mt-2">Submit</button>
        </form>
        <button onclick="window.location.href='/tags';" class="btn btn-outline-primary mt-2">Cancel</button>
    </div>
{% endblock %}