{% extends 'base.html' %}
{% block title %}Add Post{% endblock %}
{% block content %}
    <h1 class="display-1">Add Post</h1>
    <div class="container-fluid ms-2 me-2">
        <form action="/users/{{user.id}}/new-post" method="POST">
            <div class="col-12">
                <label class="display-6" for="title">Title</label>
            </div>
            <div class="col-12">
                <input class="display-6" type="text" name="title" maxlength="50">
            </div>
            <div class="col-12">
                <label class="display-6" for="content">Content</label>
            </div>
            <div class="col-12">
                <input class="display-6" type="text" name="content" max="500" style="width: 97%;">
            </div>
            <ul class="list-group">
            {% for tag in tags %}
                <li class="list-group-item list-group-item-action bg-dark text-white border-0">
                    <input type="checkbox" name="tags" value="{{tag.id}}" id="tag_{{tag_id}}">
                    <label class="display-6" for="tag_{{tag.id}}">{{tag.name}}</label>
                </li>
            {% endfor %}
            </ul>
            <button type="submit" class="btn btn-outline-success mt-2">Submit</button>
        </form>
        <button onclick="window.location.href='/users/{{user.id}}';" class="btn btn-outline-primary mt-2">Cancel</button>
    </div>
{% endblock %}