{% extends 'base.html' %}
{% block title %}{{post.id}}{% endblock %}
{% block content %}
    <h1 class="display-1">{{post.title}}</h1>
    <p class="display-6 ms-2">{{post.content}}</p>
    <p class="ms-2">
        Tags: 
        {% for tag in post.tags %}
        <button onclick="window.location.href='/tags/{{tag.id}}';" class="btn btn-primary">    
            {{tag.name}}
        </button>
        {% endfor %}
    </p>
    <button onclick="window.location.href='/users/{{user.id}}/post-{{post.id}}/edit';" class="btn btn-outline-warning mt-2">Edit Post</button>
    <form action="/users/{{user.id}}/post-{{post.id}}/delete" method="POST">
        <button class="btn btn-outline-danger mt-2">Delete Post</button>
    </form>
    <button onclick="window.location.href='/users/{{user.id}}';" class="btn btn-outline-primary mt-2">Return to User Profile</button>
{% endblock %}