{% extends 'base.html' %}
{% block title %}{{user.first_name}}{% endblock %}
{% block content %}
    <div class="row">
        <img src="{{user.image_url}}" class=" col-xl-3 col-lg-5 col-md-7 col-sm-10 col-xs-12">
        <div class="col-9">
            <h1 class="display-1 text-nowrap">First Name: {{user.first_name}}</h1>
            <h1 class="display-1 text-nowrap">Last Name: {{user.last_name}}</h1>
            <h1 class="display-1 text-nowrap">Posts:</h1>
            <div class="list-group">
                {% for post in user.posts %}
                <a href="/users/{{user.id}}/post-{{post.id}}" class="list-group-item list-group-item-action bg-dark text-white border-0">{{post.title}} <small>Created: {{post.friendly_time}}</small></a>
                {% endfor%}
            </div>
            <button onclick="window.location.href='/users/{{user.id}}/edit';" class="btn btn-outline-warning mt-2">Edit User</button>
            <form action="/users/{{user.id}}/delete" method="POST">
                <button class="btn btn-outline-danger mt-2">Delete User</button>
            </form>
            <button onclick="window.location.href='/users/{{user.id}}/new-post';" class="btn btn-outline-success mt-2">Add Post</button>
            <button onclick="window.location.href='/users';" class="btn btn-outline-info mt-2">Back to All Users</button>
        </div>
    </div>
{% endblock %}